/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

#sfooter {
	display: flex;
	flex-direction: column;
	min-height: 10vh;
	max-height: 25vh;
	background: black;
	color: white;
	font-family: Consolas, sans-serif;
	font-size: 14px;
	text-align: center;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
#header {
	display: inline-block;
	background-color: #363637;
	color: lawngreen;
	text-align: center;
}

#garish {
	text-align: center;
}

.instructions-wrapper {
	padding: .5em;
	border: .4rem solid black;
	height: 13em;
	width: 65em;
	display: block;
	position: relative;
	text-align: left;
	font-family: Consolas, sans-serif;
}

.instructions-content {
	width: 40em;
}

#janeway {
	float: right;
	width: 15em;
	position: relative;
	display: inline-block;
	bottom: 90%;
	right: 2%;
}

#legend {
	width: 20em;
	border: .25em solid #ffffff;
	float: left;
	position: relative;
	display: inline-block;
	margin: .2em;
}

.about-me-container {
	margin-top: 3em;
	background-color: #1b21c6;
	color: white;
	padding: 3%;

}

.about-me p span {
	color: #c0c671;
	font-style: italic;
}


h2 {
	text-align: right;
}

#skillz {
	display: inline-flex;
	align-items: right;
	margin: 5%;
	padding: 1em;
	width: 60%;
	border: 1px solid #000;
	background-color: #363637;
	color: lawngreen;
	text-align: left;
}

tr {
	margin: .01em;
	border: .01em solid white;
	text-align: left;
	padding-bottom: .05em;
	padding-left:  .05em;
	padding-right:  .05em;
	padding-top:  .05em;
}

td {
	margin: .01em;
	border: .01em solid white;
	text-align: left;
	padding-bottom: .05em;
	padding-left:  .05em;
	padding-right:  .05em;
	padding-top:  .05em;
}

form {
	display: inline-block;
	margin: 1em;
	line-height: 3em;
}



.contact-container {
	margin: auto;
	width: 60%;
	padding: 5em;
	background-color: #363637;
}

.form-wrapper {
	background-color: forestgreen;
	color: lawngreen;
	max-width: 100%;
	position: relative;

}

button {
	background-color: lawngreen;
	color: #000000;
	padding: .3em 2em .3em 2em;
	border-color: lawngreen;
}